/*univeral Sector*/
* {
    font-family: Verdana, garamond, "courier new"; /*font styles, intentional choose style distincted from each other*/
    margin: 0;
    padding: 0;
}
/* Element selector */
body {
    text-align: center;
    background-color: #FDF8F5;
}

a {
    color: white;
    text-decoration: none;
}

li {
    display: inline;
    padding: 0px 20px;
}

main {
    padding-top: 60px;
}

section {

    padding: 20px 10px 40px 10px;
    border-top: 3px solid #DDAF94;
    background-color:  #E8CEBF;
  }


  
/* class selector */
.header {
    background-color: darkgreen;
    text-align: right;
    position: fixed;
    top: 0;
    height: 60px;
    width: 100%;
    border-bottom: 10px solid rgb(247 202 196);
    line-height: 60px;
}

.footer {
    background-color: darkgreen;
    color: white;
    line-height: 60px;
    border-bottom: 10px solid darkgray;
}

.boarders {
    border-radius: 20px;
    border: 2px solid orange;
    display: block;
    width: 500px;
    padding: 10px;
}

.text-center {
  text-align: center;
}

.text-right {
    text-align: right;
  }
  
